<mat-dialog-content class="mat-typography">
  <p align="center">{{ "CUSTOMER_DELETE.ALERT_P1" | translate }}</p>
  <p>{{ this.data.name }} {{ "CUSTOMER_DELETE.ALERT_P2" | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close>
    {{ "CUSTOMER_DELETE.CANCEL" | translate }}
  </button>
  <button
    type="button"
    mat-flat-button
    mat-dialog-close
    color="warn"
    (click)="onDelete(this.data.id)"
  >
    {{ "CUSTOMER_DELETE.DELETE" | translate }}
  </button>
</mat-dialog-actions>
