<mat-sidenav-container class="sidebar-container">
  <mat-sidenav class="sidebar" mode="over" [(opened)]="menuOpened">
    <mat-list>
      <mat-list-item
        class="sidebar-item"
        routerLink="/customers"
        style="cursor: pointer;"
        >Customers</mat-list-item
      >
      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (menuButtonClicked)="onMenuButtonClick()"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
