<h2 mat-dialog-title>
  {{
    this.editMode
      ? ("CUSTOMER_FORM.TITLE_UPDATE" | translate)
      : ("CUSTOMER_FORM.TITLE_ADD" | translate)
  }}
</h2>
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="customer-form">
  <mat-dialog-content class="mat-typography">
    <div>
      <mat-form-field class="input-width">
        <mat-label>{{ "CUSTOMER_FORM.NAME" | translate }}</mat-label>
        <input type="text" matInput formControlName="name" />
        <mat-error>{{ "CUSTOMER_FORM.REQUIRED_ERROR" | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-width">
        <mat-label>{{ "CUSTOMER_FORM.PHONE" | translate }}</mat-label>
        <input type="text" matInput formControlName="phone" />
        <mat-error>{{ "CUSTOMER_FORM.REQUIRED_ERROR" | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-width">
        <mat-label>{{ "CUSTOMER_FORM.EMAIL" | translate }}</mat-label>
        <input type="email" matInput formControlName="email" />
        <mat-error *ngIf="customerForm.controls.email.errors?.required">{{
          "CUSTOMER_FORM.REQUIRED_ERROR" | translate
        }}</mat-error>
        <mat-error *ngIf="customerForm.controls.email.errors?.email">{{
          "CUSTOMER_FORM.EMAIL_ERROR" | translate
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-width">
        <mat-label>{{ "CUSTOMER_FORM.ADDRESS" | translate }}</mat-label>
        <textarea
          matInput
          placeholder="Address"
          formControlName="address"
        ></textarea>
        <mat-error>{{ "CUSTOMER_FORM.REQUIRED_ERROR" | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-width">
        <mat-label>{{ "CUSTOMER_FORM.CITIZENSHIP" | translate }}</mat-label>
        <input type="text" matInput formControlName="citizenship" />
        <mat-error>{{ "CUSTOMER_FORM.REQUIRED_ERROR" | translate }}</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close>
      {{ "CUSTOMER_FORM.CANCEL" | translate }}
    </button>

    <button
      *ngIf="!customerForm.invalid"
      type="submit"
      mat-flat-button
      cdkFocusInitial
      mat-dialog-close
      color="primary"
    >
      {{
        this.editMode
          ? ("CUSTOMER_FORM.UPDATE" | translate)
          : ("CUSTOMER_FORM.ADD" | translate)
      }}
    </button>
    <button
      *ngIf="customerForm.invalid"
      type="submit"
      mat-flat-button
      cdkFocusInitial
      color="primary"
    >
      {{
        this.editMode
          ? ("CUSTOMER_FORM.UPDATE" | translate)
          : ("CUSTOMER_FORM.ADD" | translate)
      }}
    </button>
  </mat-dialog-actions>
</form>
