<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      <h2>{{ "CUSTOMERS_LIST.CUSTOMERS" | translate }}</h2>
      &nbsp;
      <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
    </mat-header-cell>

    <mat-cell class="cell" *matCellDef="let element" [routerLink]="element.id">
      {{ element.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <h2>{{ "CUSTOMERS_LIST.ACTIONS" | translate }}</h2>
    </mat-header-cell>

    <mat-cell *matCellDef="let element">
      <button mat-flat-button color="primary" (click)="onCustomerEdit(element)">
        <mat-icon>create</mat-icon>
      </button>
      &nbsp;
      <button mat-flat-button color="warn" (click)="onCustomerDelete(element)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
