<div class="customers-container">
  <div class="button-container">
    <button
      class="customer-add-btn"
      mat-fab
      color="primary"
      (click)="onCustomerAddButtonClick()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-form-field appearance="fill" color="primary">
    <mat-label>{{ "CHANGE_LANG.CHANGE_LANGUAGE" | translate }}</mat-label>
    <mat-select (selectionChange)="onLanguageSelect($event)">
      <mat-option *ngFor="let lang of languages" [value]="lang.code">{{
        lang.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="breadcrumb-container">
    <span *ngFor="let item of breadcrumb; let i = index"
      ><a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="item === breadcrumb[0] ? '/customers' : item"
        class="breadcrumb"
      >
        {{ item === breadcrumb[1] ? customerName : item }} </a
      >/</span
    >
  </div>
  <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
</div>
